form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 181, 44);
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }
  
  .navigate{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }